label.snapshot-period {
    width: 250px !important;
}
div.snapshot-period {
    margin-left: 260px !important;
}

.snapshot_description {
    margin-left: 20px;
    margin-top: 20px;
}

.snapshot_top {
    margin-left: 20px;
}
