extends site_base.html
| {% load pipeline %}

block head_title
  | {{ _("Dashboard") }}

block moreStyles
  {% stylesheet "iouoi" %}

block moreScripts
  {% javascript "iouoi" %}

block body
  .container
    ul.nav.nav-tabs.pull-right
      li
        a.disabled(href="#")
          | {{ _("Welcome") }}, {{ request.user.username }}
      li
        a(href="{% url 'account_logout' %}")
          | {{ _("Log Out") }}

    //
      ul.nav.nav-tabs
        li
          a(href="#")
            | len
        li
          a(href="#")
            | borrow
        li
          a(href="#")
            | confirm

    .tab-content
      .col-md-12
        button(onclick="update_iou()")
          | {{ _("Create") }}
      {% for item in i_am_from %}
      .col-md-4.lend(onclick="update_iou('{{ item.lendTo }}')")
        .bg-primary.text-center
          p {{ item.lendTo }} {{ _("owe me") }}
          p {{ item.value }}
      {% endfor %}
      {% for item in i_am_to %}
      .col-md-4.borrow(onclick="update_iou('{{ item.borrowFrom }}')")
        .bg-info.text-center
          p {{ _("I owe") }} {{ item.borrowFrom }}
          p {{ item.value }}
      {% endfor %}
      {% for item in confirm_list %}
      .col-md-4.event(onclick="confirm_iou('{{ item.id }}')")
        .bg-warning.text-center
          p {{ item.senderId }}
          p {{ item.value }}
      {% endfor %}

  .modal.fade#iou-modal
    .modal-dialog
      form#form_iou_update(method="POST", action="{% url 'iou:update' %}")
        {% csrf_token %}
        .modal-content
          .modal-header
            button.close(data-dismiss="modal", aria-hidden="true")
              | &times;
            h3
              | IOU
          .modal-body
            p(style="display: inline-block")
              | {{ _("I") }}
            select(name="action")
              option lend
              option borrow
            input(type='email', name="target_name")
            input(type='number', name="value")
            #errors(style="color: red;")
          .modal-footer
            button#iou-submit.btn.btn-primary(type="submit")
              | Apply
            button#iou-cancel.btn.btn-default(data-dismiss="modal", aria-hidden="true")
              | Cancel

  .modal.fade#confirm-modal
    .modal-dialog
      form(method="POST", action="{% url 'iou:event_actions' %}")
        {% csrf_token %}
        .modal-content
          .modal-header
            button.close(data-dismiss="modal", aria-hidden="true")
              | &times;
            h3
              | {{ _("Confirm") }}
          .modal-body
            input(name="event_id", type="hidden")
            p {{ _("Are you sure to confirm this record? ") }}
          .modal-footer
            input#iou-confirm-submit.btn.btn-primary(type="submit", name="confirm", value="Confirm")
            input#iou-deny-submit.btn.btn-danger(type="submit", name="deny", value="Deny")
            button#iou-cancel.btn.btn-default(data-dismiss="modal", aria-hidden="true")
              | Ignore
