extends site_base.html
| {% load pipeline %}
| {% load staticfiles %}

block head_title
  | {{ _("ConfirmList") }}

block extra_style
  {% stylesheet "iouoi" %}
  link(href='{% static "iouoi/css/iouoi.css" %}', rel='stylesheet')
  

block extra_script
  {% javascript "iouoi" %}

block nav
  ul.nav.navbar-nav.navbar-right
    li
      a(style="cursor: pointer;", onClick="update_iou()")
        span.glyphicon.glyphicon-plus(aria-hidden="true")
    li.active
      a(href='{% url "iou:home" %}')
        span.glyphicon.glyphicon-envelope
        span.badge {{ confirm_list | length }}

block body
  .page-header
    h1 New Events
  
  .tab-content
    {% for item in confirm_list %}
    .col-md-4.event(onclick="confirm_iou('{{ item.id }}')")
      .ioublock-confirm.text-center
        p {{ item.senderId }}
        p {{ item.value }}
    {% empty %}
    h2.tip no events now
    {% endfor %}

  .modal.fade#iou-modal
    .modal-dialog
      form#form_iou_update(method="POST", action="{% url 'iou:update' %}")
        {% csrf_token %}
        .modal-content
          .modal-header
            button.close(data-dismiss="modal", aria-hidden="true")
              | &times;
            h3
              | IOU
          .modal-body
            p(style="display: inline-block")
              | {{ _("I") }}
            select(name="action")
              option lend
              option borrow
            input(type='email', name="target_name")
            input(type='number', name="value")
            #errors(style="color: red;")
          .modal-footer
            button#iou-submit.btn.btn-primary(type="submit")
              | Apply
            button#iou-cancel.btn.btn-default(data-dismiss="modal", aria-hidden="true")
              | Cancel

  .modal.fade#confirm-modal
    .modal-dialog
      form(method="POST", action="{% url 'iou:event_actions' %}")
        {% csrf_token %}
        .modal-content
          .modal-header
            button.close(data-dismiss="modal", aria-hidden="true")
              | &times;
            h3
              | {{ _("Confirm") }}
          .modal-body
            input(name="event_id", type="hidden")
            p {{ _("Are you sure to confirm this record? ") }}
          .modal-footer
            input#iou-confirm-submit.btn.btn-primary(type="submit", name="confirm", value="Confirm")
            input#iou-deny-submit.btn.btn-danger(type="submit", name="deny", value="Deny")
            button#iou-cancel.btn.btn-default(data-dismiss="modal", aria-hidden="true")
              | Ignore
